@import "tailwindcss";
@theme {
  --color-darkGreen: #183e47;
  --color-lightGreen: #4f6c72;
}

:root {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lexend {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.syne {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
